
h2 {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3rem; 
}
h2:hover {
  color: #52c91f;
}
h3 {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 3rem; 
}
h3:hover {
  color: #52c91f;
}


.todo-planner-container {
  display: flex;
  justify-content: space-between; 
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap; 
  color: black;
}


.left-side {
  width: 62%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.right-side {
  width: 33%;
  overflow-y: auto;
  max-height: 500px;
}


.form-container {
  margin-bottom: 20px;
}

.inputBox {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

.submit-btn {
  padding: 10px 15px;
  background-color: #b2df11;
  color: white;
  border: none;
  cursor: pointer;
  justify-content: right;
}

.submit-btn:hover {
  background-color: #52c91f;
}
.submit-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
}

.react-big-calendar {
  width: 100%; 
  min-width: 100%; 
}

.task-list {
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
}

.done {
  color: green;
}

.pending {
  color: red;
}

.spaceAdd {
  margin-left: 10px;
}
