body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #333;
  color: #fff;
  height: 100vh;
  padding: 20px 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover {
  color: #00bcd4;
}

.main-content {
  flex-grow: 1;
}

.navbar {
  background: #00bcd4;
  color: #fff;
  padding: 10px 20px;
}

.footer {
  text-align: center;
  padding: 10px;
  background: #988f0c;
  color: #0a0000;
  margin-top: 10rem;
}

.content {
  padding: 20px;
}
.login-container{
  border: 2px solid black;
  margin: 5px;
  display: flex;
  justify-content:center;
  align-items: center;
  color: rgba(224, 196, 10, 0.893);
  font-size: 40px;
}